.button {
  border: none;
  background: var(--coresprimarias-300);
  color: var(--text-over-primario);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 3.2rem 0; 
  cursor: pointer;
  transition: all 1.1s ease-in-out;
}

.button svg {
  width: 2.4rem;
  height: 2.4rem;
}
 .button:hover {
  filter: brightness(70%);
 }

.red {
  background: var(--error);
  color: var(--text-over-primario); 
}

.purple {
  background: var(--coresprimarias-300);
  color: var(--text-over-primario);
}
